.static {
  position: static;
  background: lightgray;
  padding: 10px;
}

.relative {
  position: relative;
  top: 20px;
  left: 20px;
  background: yellow;
  padding: 10px;
}

.fixed {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background: lightgreen;
  padding: 10px;
}

.relative1 {
  position: relative;
  width: 300px;
  height: 150px;
  background: pink;
  padding: 10px;
}

.absolute {
  position: absolute;
  top: 30px;
  left: 30px;
  background: orange;
  padding: 10px;
}

div.absolute {
  position: absolute;
  top: 80px;
  right: 0;
  width: 200px;
  height: 100px;
  border: 3px solid #73AD21;
}

div.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: yellow;
  border: 2px solid #4CAF50;
}